In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import networkx as nx

In [4]:
data = pd.read_csv("C:/Users/Pratham Patil/Analysis data.csv")

In [6]:
Data = data[['title','industry/department','company','skills','responsibility']]

In [7]:
Data.head()

,title,industry/department,company,skills,responsibility
0,Finance Analyst,Various/Finance,oliver plus,1. Finance experience\n2. Advanced Excel\n3. P...,1. Track labor costs\n2. Analyze timesheets\n3...
1,Senior Business Financial Analyst,Finance,LRQA Group,1.Power BI\n2.SAP\n3.Microsoft Office\n4.Finan...,1. Improve reporting\n2. Create reports\n3. Bu...
2,Finance Analyst,Financial Technology and Retail Technology,NCR Atleos,1. Financial Analysis\n2. Pricing\n3. Risk Ass...,1. Bid Profiling\n2. Pricing Guidance\n3. Marg...
3,Business Finance Analyst,Data Analytics and Experience Design,Techmatters Technologies,1.Tableau/Power BI\n2. Advanced MS Excel\n3. S...,1. Revenue MIS/Dashboard\n2. Data Liaison\n3. ...
4,Senior Finance Analyst-Reporting and Analysis,Professional Services,Ernst & Young,1. Data Analysis\n2. Problem Solving\n3. Accou...,1. Standard Reporting\n2. Issue Resolution\n3....

In [15]:
titles = [
    "Finance Analyst", "Senior Business Financial Analyst", "Finance Analyst", "Business Finance Analyst",
    "Senior Finance Analyst-Reporting and Analysis", "Associate Finance Analyst", "Financial Analyst",
    "Financial Analyst", "Financial Analyst", "Analyst, Commercial Operations", "Financial Analyst",
    "Financial Analyst - Investment Banking", "Junior Finance Analyst", "Coverage Finance Analyst",
    "Financial Planning and Analysis Manager", "Sr. Associate - Financial Analyst", "Financial Analyst",
    "Financial Analyst", "Financial Analyst", "Financial Analyst", "Analyst Responsible Investments",
    "Sales and Commercial Finance Analyst", "Financial Reporting Analyst", "Analyst, Investment Operations",
    "Financial Analyst", "Analyst - Financial Operations", "IR and Financial Analyst", "Finance Analyst",
    "Analyst, Financial Planning & Analysis", "Finance Rptg Analyst", "Financial Analyst",
    "Financial Plan & Analysis Analyst-Record To Report", "Analyst", "Financial Operations Analyst",
    "Accounts Executive", "Credit Analyst", "Investment Banking Junior Analyst", "Digital Finance Analyst MDS",
    "Investment Risk Analyst", "Financial Planning Analyst", "Credit Analyst", "Analyst, Cash and Asset Reconciliation",
    "Financial Planning Analyst", "Financial Analyst", "Analyst-Trade Finance Operations", "FP&A Analyst",
    "Financial Analyst Senior", "BPA Analyst", "Senior Analyst-FIU"]

In [16]:
title_groups = {"Financial Analyst / Finance Analyst":["Finance Analyst", "Senior Business Financial Analyst", "Senior Finance Analyst-Reporting and Analysis",
        "Associate Finance Analyst", "Financial Analyst", "Financial Analyst - Investment Banking",
        "Junior Finance Analyst", "Coverage Finance Analyst", "Sr. Associate - Financial Analyst",
        "Financial Reporting Analyst", "IR and Financial Analyst", "Finance Rptg Analyst",
        "Financial Plan & Analysis Analyst-Record To Report", "Financial Operations Analyst",
        "Digital Finance Analyst MDS", "Financial Planning Analyst", "Analyst-Trade Finance Operations",
        "FP&A Analyst", "Financial Analyst Senior", "BPA Analyst", "Senior Analyst-FIU"],
                "Business Analyst/commercial Analyst":["Business Finance Analyst", "Analyst, Commercial Operations", "Analyst Responsible Investments",
        "Sales and Commercial Finance Analyst", "Analyst, Investment Operations", "Analyst - Financial Operations",
        "Analyst, Financial Planning & Analysis", "Investment Risk Analyst", "Analyst, Cash and Asset Reconciliation",
        "Financial Planning Analyst"],
                "Credit Analyst":["Credit Analyst", "Investment Banking Junior Analyst"],
                "General Analyst":["Analyst", "Coverage Finance Analyst"],
                "Accounts Executive":["Accounts Executive"]}

In [17]:
def assign_group(title):
    for group, titles in title_groups.items():
        if title in titles:
            return group
    return "Other"

In [18]:
data = pd.DataFrame({'title':titles})

In [22]:
data['group'] = data['title'].apply(assign_group)
group_counts = data['group'].value_counts()

In [24]:
print(group_counts)

group
Financial Analyst / Finance Analyst    34
Business Analyst/commercial Analyst     9
Credit Analyst                          3
Other                                   1
General Analyst                         1
Accounts Executive                      1
Name: count, dtype: int64

In [35]:
G = nx.Graph()

In [36]:
for group, titles in title_groups.items():
    for title in titles:
        G.add_node(title, group=group)
        G.add_edge(group, title)

In [37]:
plt.figure(figsize=(12, 8))
pos = nx.spring_layout(G, k=0.3)

In [44]:
groups = set(nx.get_node_attributes(G, 'group').values())
mapping = {group: i for i, group in enumerate(groups)}
nodes = G.nodes(data=True)
colors = [mapping[data['group']] for _, data in nodes]

nx.draw(G, pos, with_labels=True, node_color=colors, node_size=5000, cmap=plt.cm.rainbow, font_size=10, font_color='black', font_weight='bold')

KeyError: 'group'